/* Main Rules */
*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

html {
	font-size: 62.5%; /* (10 / 16) * 100 = 62.5% this means 1rem = 10px */
	box-sizing: border-box;
}

body {
	font-family: 'Roboto', sans-serif;
	line-height: 1.6;
	font-weight: 400;
}

.container {
	display: flex;
	height: 100vh;
	width: 100vw;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	background-image: linear-gradient(to left bottom, #48dbfb, #341f97)
}


/* To-Do Style */

h1 {
	margin-top: 10rem;
	font-size: 6rem;
	font-weight: 300;
	color: #fff;
}

input {
	width: 30rem;
	height: 4rem;
	margin-right: .5rem;
	outline: none;
	font-size: 1.8rem;
}


/* To-Do */

.todo-list {
	margin-top: 3rem;
	color: #fff;
	min-width: 30%;
}

.todo {
	font-size: 2.2rem;
	padding-left: 1rem;
	margin: 1rem;
	color: #333;
	transition: all .3s ease-out;
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: #fff;
}

.complete {
	opacity: .5;
	text-decoration: line-through;
}

.todo p {
	flex: 1;
	margin-right: auto;
}


/* Buttons Style */

.btn {
	padding: 1.2rem 2rem;
	outline: none;
	border: none;
	color: #fff;
	transform: translateY(0);
	transition: all .3s ease-out;
}

.btn:hover {box-shadow: 0 1rem 2rem rgba(0, 0, 0, .1);}

.btn:active {
	transform: translateY(3px);
	box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
}

.btn-add {background-color: #0abde3;}

.btn-add:hover {background-color: #48dbfb;}

.btn-clear {background-color: #341f97;}

.btn-clear:hover {background-color: #5f27cd;}


.btn-delete  {
	background-color: #c0392b;
	font-size: 1.5rem;
}

.btn-delete,
.btn-complete  {
	text-align: center;
	height: 100%;
}

.btn-delete:active,
.btn-complete:active {transform: translateY(0);}

.btn-delete:hover {background-color: #e74c3c;}

.btn-complete {
	background-color: #27ae60;
	margin: 0;
	margin-left: 1rem;
}
.btn-complete:hover {background-color: #10ac84;}